{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{%block title%} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
    <header class="header">
        <h1 class="logo">
            <a href="{% url 'home' %}">
                <img src="{% static 'images/logo_test.png' %}" alt="Logo">
            </a>
        </h1>

        <nav class="header_nav">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
            </ul>
        </nav>
    </header>
    <main class="main">
        {% block content %}

        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2023 Job Board. All rights reserved</p>
    </footer>
</body>
</html>