{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Seeker | {%block title%}  {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body {% block body_class %}{% endblock %} >
    <!-- header -->
    <header class="header">
        <div class="header_inner{% if not user.is_authenticated %} header_inner--centered{% endif %}">
            <a href="{% url 'authorization' %}" class="logo">
                <img src="{% static 'images/logo1.svg' %}" alt="Seeker logo">
            </a>
            {% if user.is_authenticated %}
                <nav class="header_nav">
                    <ul class="nav_list">
                        <li class="nav_list_item"><a href="{% url 'home' %}">განცხადებები</a></li>
                        <li class="nav_list_item"><a href="{% url 'account' %}">პროფილი</a></li>
                    </ul>
            {% endif %}
            </nav>
        </div>
    </header>
    <!-- content -->
    <main class="main {% block main_class %}{% endblock %}">
        <div class="main_inner">
            {% block content %}

            {% endblock %}
        </div>
    </main>
</body>
</html>